body{
  font-family: 'Dosis', 'Open Sans';
  margin: 0;
  text-align: center;
}

#main{
  width: 626px;
  height: 486px;
  margin: 64px auto;
  background-color: ;
}

h1{
  font-family: 'Dosis';
  font-size: 32px;
  line-height: 40.45px;
  font-weight: 700;
  color: #3F3D56;
  margin-top: 32px;
  width: 494px;
  height: 40px;
  margin: 32px auto;
}

h1 span{
  color: #EE24FF;
}

#paragrafo1{
  width: 540px;
  height: 107px;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin: 16px auto;
  color: #828282;
}

#paragrafo2{
  width: 626px;
  height: 21px;
  margin: 32px auto 0;
  font-family: 'Open Sans';
  font-size: 15px;
  color: #828282;
}

p span{
  font-weight: 700;
  color: #3F3D56;

}

#line{
  width: 391px;
  height: 0;
  border: 1px solid #eceff2;
  margin: 64px auto 16px;
}

a{
margin: 16px auto 0;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
text-align: center;
color: #3F3D56;
padding-inline: 41px;
text-decoration: none;
}


